/* ? This is a question comment */
/* ! This is an alert comment */
/* Todo This is a Todo Comment */
/* This is a normal comment */


body
{
    background-color: rgb(147, 176, 202);
}
h1
{
    color: rgb(158, 224, 201);
}
ul
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}