/* Mobile Styles - Default */

:root {
  --primary-color: #fee6ee;
  --secondary-color: #fee6ee;
  --tertiary-color: #fee6ee;
  --main-font: arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(Images/pinkpolkadots.jpeg);
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: #ffeef4;
  padding: 1rem;
}
#pageheader {
  /* background-color: solid #fce4ec; */
  min-height: 0.25rem;
  padding: 0.25rem;
}
#logo {
  background-image: url(Images/logocat.png);
  width: 6.25rem;
  height: 6.25rem;
  border: 1px solid none;
  background-size: cover;
  border-radius: 0.5rem;
  margin: auto;
  transition: all 2s;
}
#pageheader .container {
  /* background-color: #f48fb1; */
  min-height: auto;
}

#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  background-color: #aec3ae;
  margin: 0px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}

#pageheader nav ul li {
  border: 2px solid #94a684;
  padding: 1rem;
  margin: 2px;
  background-color: #e4e4d0;
  border-radius: 0.5rem;
}

#pageheader nav ul li:hover {
  background-color: #fee6ee;
}

#media {
  background-color: rgb(122, 122, 155);
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/NicaLuffyWithGogglesFallign.png);
  background-size: cover;
  aspect-ratio: 16 / 9;
}
#career {
  background-color: #ffdbe9;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: #e7cccc;
  min-height: 10rem;
  padding: 1rem;
}
blockquote + span {
}
#semester1 {
  background-color: #ffdbe9;
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: #ffdbe9;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: #ffb6c1;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: #fee6ee;
  min-height: auto;
  text-align: center;
}

#aifooter {
  background-color: #fee6ee;
  min-height: auto;
  padding: 1rem;
}

#aifooter .container {
  background-color: #f48fb1;
  min-height: auto;
  text-align: center;
}

#subfooter {
  background-color: #ffdbe9;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
audio {
  border: 5px solid steelblue;
  background-color: steelblue;
  display: block;
  margin: auto;
}

/* Font */

.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}
.atma-regular {
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Table View */

@media screen and (min-width: 600px) {
  #pageheader nav ul {
    margin-top: 2rem;
  }

  #logo {
    margin: 0;
  }

  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: rgb(193, 155, 189);
  }

  /* Desktop View */
}
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: purple;
  }
}
