html {
  scroll-behavior: smooth;
}

body {
  background-image: url(Images/pinkpolkadots.jpeg);
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
}
#pageheader {
  background-color: solid #fce4ec;
  min-height: 0.25rem;
  padding: 0.25rem;
}
#logo {
  background-image: url(Images/logocat.png);
  width: 6.25rem;
  height: 6.25rem;
  border: 1px solid none;
  background-size: cover;
  border-radius: 0.5rem;
}
#pageheader .container {
  background-color: #f48fb1;
  min-height: auto;
}

#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  background-color: pink;
  margin: 0px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}

#pageheader nav ul li {
  border: 2px solid lightpink;
  padding: 1rem;
  margin: 2px;
  background-color: lightyellow;
  border-radius: 0.5rem;
}

#pageheader nav ul li:hover {
  background-color: #ffdbe9;
}

#media {
  background-color: rgb(122, 122, 155);
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/NicaLuffyWithGogglesFallign.png);
  background-size: cover;
  aspect-ratio: 16 / 9;
}
#career {
  background-color: #ffdbe9;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: rgb(181, 134, 177);
  min-height: 10rem;
  padding: 1rem;
}
blockquote + span {
}
#semester1 {
  background-color: #ffdbe9;
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: #ffdbe9;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: #ffb6c1;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: #fee6ee;
  min-height: auto;
  text-align: center;
}

#aifooter {
  background-color: #fee6ee;
  min-height: auto;
  padding: 1rem;
}

#aifooter .container {
  background-color: #f48fb1;
  min-height: auto;
  text-align: center;
}

#subfooter {
  background-color: #ffdbe9;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
audio {
  border: 5px solid steelblue;
  background-color: steelblue;
  display: block;
  margin: auto;
}

@media screen and (min-width: 650px) {
  #pageheader nav ul {
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: red;
  }
}
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: purple;
  }
}
